header{
    background-color: chocolate;
    font-family: "Agency FB";
    font-size: 20px;
}

body{
    text-align: center;
}

#pizzaType{
    width: 85px;
}

#address{
    width: 150px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

#orderPizzaDiv{
    text-align: center;
}

